@media (max-width: 768px) {
    body {
        display: none;
    }
}

body{
    background-color: #f5f7fa;
    
}
nav{
    
    border-bottom: 1px solid #ccc
}
.name{
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    color: white;
    
}
.logo-img img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 30px;
    
}
.container{
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: auto;
    justify-content: left;
    margin-left: 30px;
    display: flex;
    color: white;
}
.title{
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    font-weight: 700;
    max-width: 600px;
}
.title span{
    color: #0073b1;
}
.subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #666;
    margin-top: 20px;
    display: flow-root;
    max-width: 600px;
}

.profile-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 200px;
    margin-bottom: 30px;
    
}

 
.resume-btn {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #f5f7fa;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;
    margin-left: 130px;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .resume-btn:hover{
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4); 
  }
  
  .btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif;
    color: #f5f7fa;
  }
  


  .nav-container{
    display: flex;
  }
  .logo{
    border-radius: 50%;
  }

  